# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Coverage / testing
.coverage
.pytest_cache/
htmlcov/

/MM Interaction/data/